.sml-nav {
    background-color: #4287f5;
  color: #FFFFFF;
    padding: 5px 20px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .sml-nav h1 {
    margin: 0; 
  }
  